.menu {
  grid-area: menu;
  height: 34px;
  display:flex;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3e3b3b;
}

.menu_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  &:hover {
    color: #750000;
  }
}
